CompileFlags:
    Add: [
        "-isystem/usr/include",
        "-isystem/home/struc/dev/shared/stb",
        "-isystem/home/struc/dev/jects/font-loader/out",
        "-Wall",
        "-Wextra",
        "-Wno-unused-function",
        "-Wno-unused-parameter",
        "-Wno-unused-variable",
        "-Wno-unused-but-set-variable",
        "-xc",
        "-std=c99"
    ]
Diagnostics:
    UnusedIncludes: None
