CompileFlags:
    Add: [
        "-Wall",
        "-Wextra",
        "-Wno-unused-function",
        "-Wno-unused-parameter",
        "-Wno-unused-variable",
        "-Wno-unused-but-set-variable"
    ]
Diagnostics:
    UnusedIncludes: None
